/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 07-May-2023, 3:37:42 PM
    Author     : admin
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
.padding-2 {
    padding: 2rem;
}

body{
    background-color: #F5F5F5
}
.login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/form3.png)
}

.quicksand-font-300 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300
}

.quicksand-font-400 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.quicksand-font-500 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

h1 {
    margin: 1% 0em;
}

h3 {
    margin: 1% 0em;
}

.subtitle {
    opacity: 0.5
}

.ui-chart {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem
}